div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1250px;
}
body {
   background-color: #F9FAFB;
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 24px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a {
   color: #0000FF;
   text-decoration: underline;
}
a:visited {
   color: #800080;
}
a:active {
   color: #FF0000;
}
a:hover {
   color: #0000FF;
   text-decoration: underline;
}
input:focus,
textarea:focus,
select:focus {
   outline: none;
}
#PageHeader1 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
   box-sizing: border-box;
   margin: 0;
}
#wb_Image1 {
   vertical-align: top;
}
#Image1 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Carousel1 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Carousel1 {
   display: block;
   float: left;
   font-size: 0;
   top: 0  !important;
}
#Carousel1 .frame {
   display: inline-block;
   height: 400px;
   overflow: hidden;
   width: 1250px;
}
#Carousel1 .carousel-innerframe {
   display: inline-block;
   height: 0;
   left: 0;
   margin-left: 0;
   position: absolute;
   top: 0;
   width: 1250px;
}
#wb_Carousel1 .pagination {
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination a {
   background-clip: padding-box;
   background-color: #F9FAFB;
   border-bottom: 27px solid transparent;
   box-sizing: content-box;
   cursor: pointer;
   display: inline-block;
   height: 3px;
   margin: 6px 6px 6px 6px;
   text-indent: -999px;
   width: 29px;
}
#wb_Carousel1 .pagination a.active {
   background-color: #000000;
}
#wb_Carousel1 .carousel-control-next,
#wb_Carousel1 .carousel-control-prev {
   color: #000000;
   cursor: pointer;
   left: 0px;
   opacity: 0.5;
   position: absolute;
   text-align: center;
   top: 0px;
}
#wb_Carousel1 .carousel-control-next-icon,
#wb_Carousel1 .carousel-control-prev-icon {
   background-size: 100% 100%;
   background: transparent no-repeat center center;
   display: inline-block;
   height: 20px;
   width: 20px;
}
#wb_Carousel1 .carousel-control-next:focus,
#wb_Carousel1 .carousel-control-next:hover,
#wb_Carousel1 .carousel-control-prev:focus,
#wb_Carousel1 .carousel-control-prev:hover {
   color: #000000;
   opacity: .9;
   outline: 0;
   text-decoration: none;
}
#wb_Carousel1 .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;   charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#wb_Carousel1 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;   charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#Carousel1_back {
   height: 20px;
   left: 50px;
   position: absolute;
   top: 47%;
   width: 20px;
   z-index: 999;
}
#Carousel1_next {
   height: 20px;
   position: absolute;
   right: 50px;
   top: 47%;
   width: 20px;
   z-index: 999;
}
#Carousel1_back img,
#Carousel1_next img {
   border-width: 0;
}
#Carousel1_back a,
#Carousel1_next a {
   cursor: pointer;
}
#Carousel1 .frame-1 {
   background-color: transparent;
   background-image: url('images/1_Redmi 10.png');
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
}
#Carousel1 .frame-2 {
   background-color: transparent;
   background-image: url('images/2_Apple Watch 7.png');
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
}
#Layer1 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer1:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer1 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Heading1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 32px;
   font-style: normal;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#Layer2 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer2:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer2 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer3 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer3:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer3 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer4 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer4:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer4 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image4 {
   vertical-align: top;
}
#Image4 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Image5 {
   vertical-align: top;
}
#Image5 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text1 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 29px;
   font-weight: normal;
   line-height: 34px;
}
#wb_Text1 p,
#wb_Text1 ul {
   margin: 0;
   padding: 0;
}
#wb_Text4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text4 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text4 p,
#wb_Text4 ul {
   margin: 0;
   padding: 0;
}
#wb_Heading2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading2 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 32px;
   font-style: normal;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#wb_Image14 {
   vertical-align: top;
}
#Image14 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Image15 {
   vertical-align: top;
}
#Image15 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Image16 {
   vertical-align: top;
}
#Image16 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text13 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text13 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 27px;
   font-weight: normal;
   line-height: 32px;
}
#wb_Text13 p,
#wb_Text13 ul {
   margin: 0;
   padding: 0;
}
#Layer13 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer13:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer13 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Text14 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text14 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text14 p,
#wb_Text14 ul {
   margin: 0;
   padding: 0;
}
#wb_Image17 {
   vertical-align: top;
}
#Image17 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 24px;
   font-weight: normal;
   line-height: 29.5px;
}
#wb_Text2 p,
#wb_Text2 ul {
   margin: 0;
   padding: 0;
}
#wb_Image2 {
   vertical-align: top;
}
#Image2 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text3 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text3 p,
#wb_Text3 ul {
   margin: 0;
   padding: 0;
}
#wb_Image3 {
   vertical-align: top;
}
#Image3 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Heading4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading4 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 32px;
   font-style: normal;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#Layer9 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer9:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer9 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image10 {
   vertical-align: top;
}
#Image10 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text9 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text9 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text9 p,
#wb_Text9 ul {
   margin: 0;
   padding: 0;
}
#wb_Heading3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading3 {
   color: #000000;
   font-family: Montserrat;
   font-size: 32px;
   font-style: normal;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#Layer5 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer5:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer5 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image6 {
   vertical-align: top;
}
#Image6 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text5 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text5 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text5 p,
#wb_Text5 ul {
   margin: 0;
   padding: 0;
}
#Layer6 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer6:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer6 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image7 {
   vertical-align: top;
}
#Image7 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text6 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text6 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text6 p,
#wb_Text6 ul {
   margin: 0;
   padding: 0;
}
#Layer7 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer7:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer7 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image8 {
   vertical-align: top;
}
#Image8 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text7 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text7 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text7 p,
#wb_Text7 ul {
   margin: 0;
   padding: 0;
}
#Layer8 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer8:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer8 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image9 {
   vertical-align: top;
}
#Image9 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text8 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text8 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text8 p,
#wb_Text8 ul {
   margin: 0;
   padding: 0;
}
#Layer14 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer14:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer14 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image18 {
   vertical-align: top;
}
#Image18 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text15 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text15 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text15 p,
#wb_Text15 ul {
   margin: 0;
   padding: 0;
}
#Layer15 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer15:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer15 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image19 {
   vertical-align: top;
}
#Image19 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text16 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text16 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text16 p,
#wb_Text16 ul {
   margin: 0;
   padding: 0;
}
#Layer16 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer16:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer16 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image20 {
   vertical-align: top;
}
#Image20 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text17 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text17 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text17 p,
#wb_Text17 ul {
   margin: 0;
   padding: 0;
}
#Layer10 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer10:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer10 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image11 {
   vertical-align: top;
}
#Image11 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text10 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text10 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text10 p,
#wb_Text10 ul {
   margin: 0;
   padding: 0;
}
#Layer11 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer11:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer11 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image12 {
   vertical-align: top;
}
#Image12 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text11 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text11 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text11 p,
#wb_Text11 ul {
   margin: 0;
   padding: 0;
}
#Layer12 {
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 3px;
   box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}
#Layer12:hover {
   -webkit-transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow: 0 3px 3px 2px rgba(122, 122, 122, 0.2);
   transform: translate(0px,-5px) rotate(0deg) scale(1.0,1);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#Layer12 {
   -webkit-transform: rotate(0deg);
   -webkit-transition: -webkit-transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
   box-shadow:;
   transform: rotate(0deg);
   transition: transform 200ms linear 0ms, box-shadow 200ms linear 0ms;
}
#wb_Image13 {
   vertical-align: top;
}
#Image13 {
   border: 0px solid #000000;
   border-radius: 0px;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Text12 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text12 {
   color: #000000;
   font-family: "Avenir Next Cyr";
   font-size: 21px;
   font-weight: normal;
   line-height: 26.5px;
}
#wb_Text12 p,
#wb_Text12 ul {
   margin: 0;
   padding: 0;
}
